export PATH_TO_PROJECTS="$HOME/Documents/Thiago"
export SCREENSHOT_FOLDER=$HOME/Downloads/Screenshots
export TEXT_EDITOR="Visual Studio Code"

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".exports.local" ] && source ".exports.local"