export PATH_TO_CUSTOM_APPS="$HOME/Applications"
export PATH_TO_DOWNLOAD="$HOME/Downloads"
export PATH_TO_PROJECTS="$HOME/Documents/Thiago"
export SCREENSHOT_FOLDER=$HOME/Downloads/Screenshots
export TEXT_EDITOR="Visual Studio Code"

#ZPLUG Exports
if [ -d "${dest}" ]; then
    export ZPLUG_HOME=/usr/local/opt/zplug
else
    export ZPLUG_HOME=/home/linuxbrew/.linuxbrew/opt/zplug
fi

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f "$HOME/.exports.local" ] && source "$HOME/.exports.local"