export PATH_TO_CUSTOM_APPS="$HOME/Applications"
export PATH_TO_DOWNLOAD="$HOME/Downloads"
export PATH_TO_PROJECTS="$HOME/Documents/Thiago"
export SCREENSHOT_FOLDER=$HOME/Downloads/Screenshots
export TEXT_EDITOR="Visual Studio Code"

export PATH_TO_GLOBAL_NODE_MODULES="$PATH_TO_PROJECTS/Repos/node-globals"

export HISTFILE=~/.zsh_history
export HISTSIZE=10000000
export SAVEHIST=10000000

# Disable zsh-tab-title prefix
export ZSH_TAB_TITLE_DEFAULT_DISABLE_PREFIX=true
# Enable full command in tab title
export ZSH_TAB_TITLE_ENABLE_FULL_COMMAND=true
# Enable concat folder process in tab title
export ZSH_TAB_TITLE_CONCAT_FOLDER_PROCESS=true

export MCFLY_FUZZY=true
export MCFLY_INTERFACE_VIEW=BOTTOM

export ZOXIDE_CMD_OVERRIDE=j
export _ZO_ECHO=1

# This should be the last line of the file
# For local changes
# Don't make edits below this
#shellcheck source=/dev/null
[ -f "$HOME/.exports.local" ] && source "$HOME/.exports.local"