export PATH_TO_CUSTOM_APPS="$HOME/Applications"
export PATH_TO_DOWNLOAD="$HOME/Downloads"
export PATH_TO_PROJECTS="$HOME/Documents/Thiago"
export SCREENSHOT_FOLDER=$HOME/Downloads/Screenshots
export TEXT_EDITOR="Visual Studio Code"

# Ruby ignore warnings
export RUBYOPT='-W:no-deprecated -W:no-experimental'

# Disable zsh-tab-title prefix
ZSH_TAB_TITLE_DEFAULT_DISABLE_PREFIX=true

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f "$HOME/.exports.local" ] && source "$HOME/.exports.local"