username=trystan2k
email=trystan2k@gmail.com
init.license=MIT
init-license=MIT
init.version=0.1.0
init-version=0.1.0
init.author.name=Thiago Mendonca
init-author-name=Thiago Mendonca
init.author.email=trystan2k@gmail.com
init-author-email=trystan2k@gmail.com
init.author.url=https://github.com/trystan2k
init-author-url=https://github.com/trystan2k
