# Example for gitconfig.work, to only load when inside
# a git folder of a work folder
[includeIf "gitdir:~/Documents/Work1/"]
 	path = .gituser-work1
[includeIf "gitdir:~/Documents/Work2/"]
 	path = .gituser-work2

# Then in the .gituser-work* file, you must load the specific config, like for example
[user]
	email = thiago.bovi@work.com
	user = thbovi
	name = Thiago Bovi