layout {
    tab name="shell" focus=true {
        pane
    }
    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{tabs}"
                format_center "{session}"
                format_right  "{mode}"
                format_space  ""

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#ff2c70]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal         "#[fg=#c7c7c7,bold]{name}"
                mode_locked         "#[fg=#000000,bg=#3AD900,bold]{name}"
                mode_resize         "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_pane           "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_tab            "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_scroll         "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_enter_search   "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_search         "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_rename_tab     "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_rename_pane    "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_session        "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_move           "#[fg=#000000,bg=#3AD900,bold] {name} "
                mode_prompt         "#[fg=#000000,bg=#3AD900,bold] {name} "

                tab_normal   "#[fg=#c7c7c7] {name} "
                tab_active   "#[bg=#1478DB,bold,italic] {name} "
            }
        }
        
    }
}
